<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString" connectionString="Data Source = .; Initial Catalog = ferma_bd; Integrated Security = SSPI"/>
    </connectionStrings>

<!--    <appSettings>-->
<!--        <add key="parentTable" value="Echipe"/>-->
<!--        <add key="childTable" value="Angajati"/>-->
<!--        <add key="childFK" value="id_echipa"/>-->
<!--    </appSettings>-->
    <appSettings>
        <add key="parentTable" value="Fertilizanti"/>
        <add key="childTable" value="Plante"/>
        <add key="childFK" value="Id_Fertilizant"/>
    </appSettings>
</configuration>